# Part 1

In [1]:
import pandas as pd

In [15]:
df = pd.read_csv("input_j01.txt", header=None)

In [16]:
df

                                           0
0                   kjrqmzv9mmtxhgvsevenhvq7
1    four2tszbgmxpbvninebxns6nineqbqzgjpmpqr
2         rkzlnmzgnk91zckqprrptnthreefourtwo
3                     fouronevzkbnzm6seven47
4                               zphgdcznqsm2
..                                       ...
995                          plxfoursc41five
996            sixfour9fivernqcknsbgpfrzmgz3
997                   onesevenf78threedzvlm1
998                           xlkdlhlk23four
999                             8ninejseven5

[1000 rows x 1 columns]

In [17]:
compteur = 0
for i in range(len(df)):
    mot = df.loc[i][0]

    j = 0
    while not mot[j].isnumeric():
        j += 1
    compteur += 10*int(mot[j])

    j = len(mot)-1
    while not mot[j].isnumeric():
        j -= 1
    compteur += int(mot[j])

In [18]:
compteur

55447

# Part 2

In [19]:
df.replace("one", "one1one", regex=True, inplace=True)
df.replace("two", "two2two", regex=True, inplace=True)
df.replace("three", "three3three", regex=True, inplace=True)
df.replace("four", "four4four", regex=True, inplace=True)
df.replace("five", "five5five", regex=True, inplace=True)
df.replace("six", "six6six", regex=True, inplace=True)
df.replace("seven", "seven7seven", regex=True, inplace=True)
df.replace("eight", "eight8eight", regex=True, inplace=True)
df.replace("nine", "nine9nine", regex=True, inplace=True)

In [20]:
df

                                                     0
0                       kjrqmzv9mmtxhgvseven7sevenhvq7
1    four4four2tszbgmxpbvnine9ninebxns6nine9nineqbq...
2    rkzlnmzgnk91zckqprrptnthree3threefour4fourtwo2two
3                four4fourone1onevzkbnzm6seven7seven47
4                                         zphgdcznqsm2
..                                                 ...
995                          plxfour4foursc41five5five
996        six6sixfour4four9five5fivernqcknsbgpfrzmgz3
997             one1oneseven7sevenf78three3threedzvlm1
998                                xlkdlhlk23four4four
999                            8nine9ninejseven7seven5

[1000 rows x 1 columns]

In [21]:
compteur = 0
for i in range(len(df)):
    mot = df.loc[i][0]

    j = 0
    while not mot[j].isnumeric():
        j += 1
    compteur += 10*int(mot[j])

    j = len(mot)-1
    while not mot[j].isnumeric():
        j -= 1
    compteur += int(mot[j])

In [22]:
compteur

54706