## Imports

In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
day = "05"

In [3]:
with open(f"input_j{day}.txt") as f:
    infos = f.readlines()
    infos = list(map(lambda x: x.replace("\n", ""), infos))

## Part 1

### Construction listes

In [4]:
seeds = infos[0].split(": ")[1].split(" ")
seeds = list(map(int, seeds))
depart = 3

In [5]:
arrivee = depart
while infos[arrivee] != "":
    arrivee += 1

seed_soil_map = list(map(lambda x: list(map(int, x.split(" "))), infos[depart:arrivee]))
depart = arrivee + 2

In [6]:
arrivee = depart
while infos[arrivee] != "":
    arrivee += 1

soil_fertilizer_map = list(map(lambda x: list(map(int, x.split(" "))), infos[depart:arrivee]))
depart = arrivee + 2

In [7]:
arrivee = depart
while infos[arrivee] != "":
    arrivee += 1

fertilizer_water_map = list(map(lambda x: list(map(int, x.split(" "))), infos[depart:arrivee]))
depart = arrivee + 2

In [8]:
arrivee = depart
while infos[arrivee] != "":
    arrivee += 1

water_light_map = list(map(lambda x: list(map(int, x.split(" "))), infos[depart:arrivee]))
depart = arrivee + 2

In [9]:
arrivee = depart
while infos[arrivee] != "":
    arrivee += 1

light_temperature_map = list(map(lambda x: list(map(int, x.split(" "))), infos[depart:arrivee]))
depart = arrivee + 2

In [10]:
arrivee = depart
while infos[arrivee] != "":
    arrivee += 1

temperature_humidity_map = list(map(lambda x: list(map(int, x.split(" "))), infos[depart:arrivee]))
depart = arrivee + 2

In [11]:
humidity_location_map = list(map(lambda x: list(map(int, x.split(" "))), infos[depart:]))
humidity_location_map

[[2609743610, 4133079426, 108193613],
 [1608826026, 1793129808, 148682069],
 [3749483646, 1957417643, 61460641],
 [3216466252, 4241273039, 49689894],
 [2717937223, 1941811877, 15605766],
 [3810944287, 1225630249, 233181949],
 [2124315534, 3020458025, 302014415],
 [264620169, 272336891, 68907407],
 [861861645, 2458132363, 209077985],
 [4044126236, 1458812198, 250841060],
 [3134115707, 2375781818, 82350545],
 [1070939630, 4290962933, 4004363],
 [2733542989, 4089410242, 43669184],
 [1074943993, 3479498485, 533882033],
 [2777212173, 2018878284, 356903534],
 [2426329949, 4013380518, 76029724],
 [333527576, 0, 7716722],
 [3266156146, 3346379827, 130079823],
 [2526267060, 1709653258, 83476550],
 [1757508095, 3476459650, 3038835],
 [0, 7716722, 264620169],
 [1760546930, 861861645, 363768604],
 [3396235969, 2667210348, 353247677],
 [2502359673, 3322472440, 23907387]]

### Création df

In [12]:
liste_mappings = [
    ("seed", "soil"),
    ("soil", "fertilizer"),
    ("fertilizer", "water"),
    ("water", "light"),
    ("light", "temperature"),
    ("temperature", "humidity"),
    ("humidity", "location")
]

In [13]:
df = pd.DataFrame(seeds, columns=["seed"])
n = len(df)

In [14]:
for paire in tqdm(liste_mappings):

    mapping = globals()[paire[0]+"_"+paire[1]+"_map"]
    df[paire[1]] = df[paire[0]]

    for i in range(n):
        for j in range(len(mapping)):
            if (df.loc[i, paire[0]] >= mapping[j][1]) and (df.loc[i, paire[0]] <= mapping[j][1]+mapping[j][2]):
                df.loc[i, paire[1]] = mapping[j][0] + (df.loc[i, paire[0]] - mapping[j][1])
                break

100%|██████████| 7/7 [00:00<00:00, 108.40it/s]

In [15]:
min(df.loc[:, "location"])

240320250

In [16]:
df

,seed,soil,fertilizer,water,light,temperature,humidity,location
0,3429320627,3429320627,4017853518,3867569578,3867569578,4158959012,3906208706,1501654214
1,235304036,3331252942,3331252942,3442566828,1414314344,334097521,412573619,412573619
2,1147330745,2287244097,328968317,604754832,1876642570,2261157009,3070030684,2173888193
3,114559245,3210508151,3210508151,2990851793,200776799,1159909871,3314625031,2418482540
4,1684000747,1064415391,2502681469,3633636052,1605383568,525166745,248036972,240320250
5,468955901,1905770538,924357054,1073046733,647633954,704533868,704533868,704533868
6,677937579,488680603,1926946681,1278899655,3752649258,4044038692,1977967326,3770033329
7,96599505,3192548411,3186560296,2966903938,176828944,1135962016,3290677176,2394534685
8,1436970021,2576883373,618607593,203788110,3445578759,3588331531,1285057214,3870371252
9,26560102,3122509008,3116520893,2896864535,106789541,106789541,601178567,601178567
10,3886049334,3886049334,3854762727,2222945556,2674661211,1745817469,1491272352,4076586390
11,159534901,3255483807,3255483807,3035827449,245752455,1204885527,3359600687,3279377006
12,936845926,733445762,2171711840,2171711840,2623427495,1694583753,1440038636,4025352674
13,25265009,3121213915,3115225800,2895569442,105494448,105494448,599883474,599883474
14,3247146679,2741573798,783298018,1641949313,2093664968,1949930309,2758803984,3487829605
15,95841652,3191790558,3185802443,2966146085,176071091,1135204163,3289919323,2393776832
16,3696363517,3696363517,3884443969,2757174809,3208890464,3208890464,2255875413,3014209302
17,45808572,3141757478,3135769363,2916113005,126038011,126038011,620427037,620427037
18,2319065313,614473071,2052739149,2052739149,2504454804,1575611062,4259979837,3235173050
19,125950148,3221899054,3221899054,3002242696,212167702,1171300774,3326015934,2505903167

## Part 2

On n'essaye même pas le brut force, probablement trop long.
L'idée ici va être de comparer les intersections des intervalles entre 2 variables successives (ex: les tranches de seeds vs les tranches de soils). Selon les positions relatives des extrémités, on va pouvoir discerner 4 cas :
- Les intervalles ne se superposent pas -> On ne fait rien
- L'intervalle 1 est inclus dans l'intervalle 2 -> On change juste le mapping facilement
- L'intervalle 2 est contenu dans l'intervalle 1 -> Le cas le plus dur, il faut découper notre tranche en 3 : avant l'intersection, pendant et après, puis traiter chaque sous-ensemble séparément
- Les intervalles s'intersectent à gauche ou à droite -> On sépare notre tranche en 2 (intersectée ou non) et on traite chaque cas séparément.

On répète le processus pour chaque mapping en agrandissant ainsi notre table de tranches au fur et à mesure qu'on doit redécouper nos intervalles. Ne sont stockées à chaque fois que les extrémités des intervalles pour chaque variable. Une fois le tout terminé, il suffit de regarder le minimum de la colonne "debut_location". On pourrait si on le souhaitait sortir l'ensemble des locations atteignables, mais pas le mapping exact seed -> location comme en partie 1.

La difficulté ici est peut-être de bien choisir si les inégalités doivent être strictes ou larges.

In [17]:
# On initialise notre table avec les extrémités de chaque tranche de seed
df = pd.DataFrame(list(zip(seeds[::2], [x+y for x,y in zip(seeds[::2], seeds[1::2])])), columns=["debut_seed", "fin_seed"])

In [18]:
for paire in tqdm(liste_mappings):  # Pour chaque passage d'une variable à une autre

    i = -1
    mapping = globals()[paire[0]+"_"+paire[1]+"_map"]  # On choisit la bonne liste de mappings
    # Mapping de base : tout le monde égal à lui-même
    df["debut_"+paire[1]] = df["debut_"+paire[0]]
    df["fin_"+paire[1]] = df["fin_"+paire[0]]

    while i < len(df)-1:  # Pas de boucle for ici parce qu'on augmente la taille de notre table au fur et à mesure
        i += 1
        for j in range(len(mapping)):

            if (
                df.loc[i, "debut_"+paire[0]] <= mapping[j][1] + mapping[j][2]
            ) and (
                df.loc[i, "fin_"+paire[0]] > mapping[j][1] + mapping[j][2]
            ):  # Si intersection à gauche, mais n'incluant pas non plus toute la tranche 1
                if df.loc[i, "debut_"+paire[0]] >= mapping[j][1]:  # Si tranche 2 non contenue dans tranche 1 -> On découpe en 2 nouvelles tranches

                    # Côté "dur" : on refait le mapping pour l'intersection à gauche
                    df.loc[len(df)] = df.loc[i]
                    df.loc[len(df)-1, "fin_"+paire[0]] = mapping[j][1] + mapping[j][2]
                    df.loc[len(df)-1, "debut_"+paire[1]] = mapping[j][0] + (df.loc[len(df)-1, "debut_"+paire[0]] - mapping[j][1])
                    df.loc[len(df)-1, "fin_"+paire[1]] = mapping[j][0] + (df.loc[len(df)-1, "fin_"+paire[0]] - mapping[j][1])

                    # Côté "facile" : pas de changement à droite, si ce n'est adapter la correspondance en début de la tranche
                    df.loc[i, "debut_"+paire[1]] += mapping[j][1] + mapping[j][2] + 1 - df.loc[i, "debut_"+paire[0]]
                    df.loc[i, "debut_"+paire[0]] = mapping[j][1] + mapping[j][2] + 1
                    

                else:  # Si tranche 2 incluse dans tranche 1 -> On découpe en 3 nouvelles tranches

                    # Côté le plus difficile : l'intersection au milieu
                    df.loc[len(df)] = df.loc[i]
                    df.loc[len(df)-1, "debut_"+paire[0]] = mapping[j][1]
                    df.loc[len(df)-1, "fin_"+paire[0]] = mapping[j][1] + mapping[j][2]
                    df.loc[len(df)-1, "debut_"+paire[1]] = mapping[j][0] + (df.loc[len(df)-1, "debut_"+paire[0]] - mapping[j][1])
                    df.loc[len(df)-1, "fin_"+paire[1]] = mapping[j][0] + (df.loc[len(df)-1, "fin_"+paire[0]] - mapping[j][1])

                    # Côté droit
                    df.loc[len(df)] = df.loc[i]
                    df.loc[len(df)-1, "debut_"+paire[1]] += mapping[j][1] + mapping[j][2] + 1 - df.loc[len(df)-1, "debut_"+paire[0]]
                    df.loc[len(df)-1, "debut_"+paire[0]] = mapping[j][1] + mapping[j][2] + 1
                    
                    # Côté gauche
                    df.loc[i, "fin_"+paire[1]] += mapping[j][1] - 1 - df.loc[i, "fin_"+paire[0]]
                    df.loc[i, "fin_"+paire[0]] = mapping[j][1] - 1
                    
            
            elif (
                df.loc[i, "debut_"+paire[0]] < mapping[j][1]
            ) and (
                df.loc[i, "fin_"+paire[0]] >= mapping[j][1]
            ):  # Si intersection à droite, mais n'incluant pas non plus toute la tranche 1, on découpe en 2 nouvelles tranches
                if df.loc[i, "fin_"+paire[0]] <= mapping[j][1] + mapping[j][2]:  # Non nécessaire en réalité, on a déjà traité le cas tranche 2 incluse dans 1

                    # Côté difficile : mapping à refaire à droite                    
                    df.loc[len(df)] = df.loc[i]
                    df.loc[len(df)-1, "debut_"+paire[0]] = mapping[j][1]
                    df.loc[len(df)-1, "debut_"+paire[1]] = mapping[j][0] + (df.loc[len(df)-1, "debut_"+paire[0]] - mapping[j][1])
                    df.loc[len(df)-1, "fin_"+paire[1]] = mapping[j][0] + (df.loc[len(df)-1, "fin_"+paire[0]] - mapping[j][1])

                    # Côté facile : il suffit de corriger la correspondance en fin de tranche
                    df.loc[i, "fin_"+paire[1]] += mapping[j][1] - 1- df.loc[i, "fin_"+paire[0]]
                    df.loc[i, "fin_"+paire[0]] = mapping[j][1] - 1
                    

            elif (
                df.loc[i, "debut_"+paire[0]] >= mapping[j][1]
            ) and (
                df.loc[i, "fin_"+paire[0]] <= mapping[j][1]+ mapping[j][2]
            ):  # Si tranche 1 totalement incluse dans tranche 2

                    # On corrige juste le mapping pour tout le monde
                    df.loc[i, "debut_"+paire[1]] = mapping[j][0] + (df.loc[i, "debut_"+paire[0]] - mapping[j][1])
                    df.loc[i, "fin_"+paire[1]] = mapping[j][0] + (df.loc[i, "fin_"+paire[0]] - mapping[j][1])

# Si pas d'intersection, alors on ne fait rien ! C'est donc -enfin- fini :)

100%|██████████| 7/7 [00:01<00:00,  6.11it/s]

In [19]:
df.sort_values("debut_location")

,debut_seed,fin_seed,debut_soil,fin_soil,debut_fertilizer,fin_fertilizer,debut_water,fin_water,debut_light,fin_light,debut_temperature,fin_temperature,debut_humidity,fin_humidity,debut_location,fin_location
78,3429320627,3664624663,3472761446,3565742821,3743451757,3790001805,2790074994,2790074994,0,0,0,0,36297311,36297311,28580589,28580589
101,3429320627,3664624663,3472761446,3565742821,3743451757,3790001805,2790074995,2831022377,1,40947383,1,6725361,36297312,43022672,28580590,35305950
122,3429320627,3664624663,3565742823,3616591199,4101643139,4152491515,3755003523,3774599008,1726751039,1746346524,650483081,650483081,43022673,43022673,35305951,35305951
71,3429320627,3664624663,3565742823,3616591199,4101643139,4152491515,3755003523,3774599008,1726751039,1746346524,650483082,666129701,43022674,58669293,35305952,50952571
76,1147330745,1261889990,2287244097,2401803342,430199357,438244789,474458786,474458786,1746346524,1746346524,666129701,666129701,58669293,58669293,50952571,50952571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,3886049334,4045584235,3904426683,4018782840,4213752170,4213752170,2229584884,2229584884,2681300539,2681300539,1752456797,1752456797,1497911680,1497911680,4083225718,4083225718
81,3886049334,4045584235,3904426683,4018782840,4213752171,4294967295,2229584885,2310800009,2681300540,2698314680,1752456798,1769470938,1497911681,1514925821,4083225719,4100239859
84,1147330745,1261889990,2287244097,2401803342,328968317,393582227,604754832,669368742,1913205597,1913205597,1769470938,1769470938,1514925821,1514925821,4100239859,4100239859
94,1147330745,1261889990,2287244097,2401803342,328968317,393582227,604754832,669368742,1913205598,1941256480,1769470939,1784273470,1514925822,1529728353,4100239860,4115042391
87,1436970021,1463530123,2576883373,2603443475,618607593,645167695,203788110,230348212,3445578759,3472138861,3595799721,3614891633,1529728355,1548820267,4115042393,4134134305

In [20]:
min(df.loc[:, "debut_location"])

28580589